<div class="preferencias">
  <div class="title">
    <i class="pi pi-wrench"></i>
    <span>Preferências</span>
  </div>
  <div class="page">
    <p-card>
      <div class="userdata">
        <div class="userdata__avatar">
          <div class="userdata__avatar__image">
            <p-image
              width="100"
              src="https://avatar.iran.liara.run/public/24"
            ></p-image>
          </div>
          <div class="userdata__avatar__name">
            <span>Bruno de Souza Ferreira Carneiro</span>
          </div>
          <div class="userdata__avatar__profile">
            <span>Administrador</span>
          </div>
          <div class="userdata__avatar__email">
            <i class="pi pi-envelope"></i>
            <span>bruno.ferreira&#64;trf1.com.br</span>
          </div>
        </div>
        <div class="userdata__signup">
          <div>
            <span>Cadastrado em 02/02/2021 às 17:00</span>
          </div>
          <div>
            <span>Última alteração em 02/01/2025 às 11:32</span>
          </div>
        </div>
      </div>
      <!--      <div class="form">-->
      <!--        <div class="control">-->
      <!--          <div>-->
      <!--            <label for="input-senha">Senha</label>-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <input-->
      <!--              pInputText-->
      <!--              id="input-senha"-->
      <!--              type="password"-->
      <!--              placeholder="*******"-->
      <!--            />-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="control">-->
      <!--          <div>-->
      <!--            <label for="input-confirm-password">Confirme a senha</label>-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <input-->
      <!--              pInputText-->
      <!--              id="input-confirm-password"-->
      <!--              type="password"-->
      <!--              placeholder="******"-->
      <!--            />-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="control right">-->
      <!--          <div>-->
      <!--            <button pButton severity="secondary">-->
      <!--              <span pButtonLabel>Limpar</span>-->
      <!--              <TrashIcon pButtonIcon />-->
      <!--            </button>-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <button pButton severity="info">-->
      <!--              <span pButtonLabel>Salvar</span>-->
      <!--              <CheckIcon pButtonIcon />-->
      <!--            </button>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </p-card>
  </div>
</div>
