* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #e2e8f0 transparent;
  scrollbar-width: thin;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 14px;
  font-family:
    'Inter var',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  line-height: normal;
}

body {
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
